<h4>Create New Book</h4>
<div class="p-3 border d-inline-block">
  <form class="form-group" [formGroup]="bookCreateForm" (ngSubmit)="createBook()">
    <div>
      <label> Title:
      </label>
      <input class="form-control" type="text" formControlName="title">

    </div>
    <div>
      <label> Author:
      </label>
      <input class="form-control" type="text" formControlName="author">
    </div>
    <div>
      <label> Description:</label>
      <div>
        <textarea class="form-control" type="text" formControlName="description" cols="100" rows="3"></textarea>
      </div>
    </div>
    <button class="btn btn-primary m-3" type="submit">Create</button>
    <button class="btn btn-warning">
      <a routerLink="/books">Cancel</a>
    </button>
  </form>
</div>
